<!-- ===== Main Content Start===== -->
<section class="main-content">
  <!-- ===== Home Section Start -->
  <div class="home section active" id="home">
    <div class="container">
      <div class="row">
        <div class="home-info padd-15">
          <h3 class="hello">Hello, my name is <span class="name">Ahmed salama</span></h3>
          <h3 class="my-profession">I'm a <span class="typing">Full stack web developer</span></h3>
          <p>
            I'm a full stack web developer with extensive experience for over 10 years. my expertise
            is o create and website design,graphics , and many more...
          </p>
          <a href="#" class="btn">Download CV</a>
        </div>
        <div class="home-img">
          <img src="images/profile4.jpg" alt="profile image" />
        </div>
      </div>
    </div>
  </div>
  <!-- ===== Home Section Start -->
</section>
<!-- ===== Main Content End ===== -->
